@import "/src/index.scss";

p {
    color: $gold;
}

h4 {
    color: $light-gold;
    line-height: 32px;
}
.textTournament {
    font-family: 'Raleway', sans-serif;
}

.date {
    color: $light-gold !important;
    font-size: 24px !important;
    line-height: 48px;
    border: 2px solid $gold;
    border-right: none;
    background-color: rgba(200, 170, 110, 0.3);
    padding: 10px;
}

@media (max-width: 770px) {
    .date {
        font-size: 18px !important;
        line-height: 36px;
    }
}

@media (max-width: 430px) {
    .date {
        justify-content: center;
        border-left: none;
    }
}

@media (max-width: 430px) {
    .margin-mobile {
        margin-right: 1rem;
    }
}

.tournamentName {
    line-height: 30px;
    margin-bottom: 30px;
}

.btnTournament {
    height: 64px;
    width: 64px;
    line-height: 64px;
    border-radius: 50%;
    border: 3px solid $gold;
    color: $gold;
    font-size: 32px;
    transition: 0.5s ease-in-out 0s;
}

.btnTournament:hover {
    background-color: rgba(200, 170, 110, 0.3);
    color: $gold;
    cursor: pointer;
}

.btnInscription {
    background-color: transparent;
    border-color: $gold;
    color: $gold;
    transition: 0.5s ease-in-out 0s;
    font-size: larger;
}

.btnInscription:hover {
    background-color: rgba(200, 170, 110, 0.3);
    color: $gold;
    cursor: pointer;
}

.btn:focus {
    box-shadow: none;
}

h3 {
    color: $light-gold;
}

.avatar {
    border: 2px solid $gold;
    border-radius: 5px;
    transition: 0.5s ease-in-out 0s;
    filter: opacity(0.5);
}

.smallLine {
    border-top: rgba(200, 170, 110, 0.5) solid 3px;
    width: 25%;
    margin-bottom: 0.5rem;
}

.updateProfile {
    height: 32px;
    width: 32px;
    line-height: 32px;
    border-radius: 50%;
    border: 1px solid $gold;
    color: $gold;
    font-size: 16px;
    margin-right: 1rem;
    transition: 0.5s ease-in-out 0s;
}

.updateProfile:hover {
    background-color: rgba(200, 170, 110, 0.3);
    color: $gold;
    cursor: pointer;
}

.modif {
    line-height: 36px;
    height: 36px;
}

.userProfile {
    font-size: 24px!important;
}

.page {
    min-height:70vh !important;
}