@import '/src/index.scss';

.form-label {
    color:$light-gold;
}

.form-control{
    color: $light-gold!important;
    background-color: rgba(200, 170, 110, 0.3);
    border: 2px solid $gold;
}

.form-control:active,
.form-control:focus {
    box-shadow:  0px 0px 8px rgba(200, 170, 110, 0.5);
    background-color: rgba(200, 170, 110, 0.3);
    border: 2px solid $gold;
}

input::placeholder,
textarea::placeholder {
    color: rgba(200, 170, 110, 0.5)!important;
}

input::-webkit-file-upload-button {
    color:$light-gold!important;
    background-color: $bg-blue!important;
    border:none!important;
    border-right:solid 2px $gold!important;
}

.updateBtn {
    transform: none!important;
}

textarea::placeholder {
    font-style: italic;
}

.btnCustom {
    background-color: transparent;
    border-color: $gold;
    color: $gold;
    transition: .5s ease-in-out 0s;
}

.btnCustom:hover {
    background-color: rgba(200, 170, 110, 0.3);
    color: $gold;
    cursor: pointer;
    transform: scale(1.25);
}

.btnCustom:focus {
    box-shadow: none;
}


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: #010a13;
    -webkit-box-shadow: 0px 0px 8px rgba(200, 170, 110, 0.5);
    box-shadow:  0px 0px 8px rgba(200, 170, 110, 0.5);
    transition: background-color 5000s ease-in-out 0s;
}

a {
    text-decoration: none;
    color: rgba(200, 170, 110, 0.5);
}
a:hover{
    color: $light-gold;
}

.form-check-label {
    color: $light-gold;
}

.form-check-input:checked,
.form-check-input:focus {
    background-color: $gold;
    border-color: $gold;
    box-shadow: 0px 0px 5px 1px $gold;
}