@import '/src/index.scss';

h1 {
    color: $light-gold;
}

.upLine {
    transform: rotate(180deg);
}

.btnCustom {
    background-color: transparent;
    border-color: $gold;
    color: $gold;
    transition: .5s ease-in-out 0s;
    font-size:larger;
}

.btnCustom:hover {
    background-color: rgba(200, 170, 110, 0.3);
    color: $gold;
    cursor: pointer;
    transform: scale(1.25);
}