@import "/src/index.scss";

.containerVid {
    position: relative;
}
.containerVid video {
    position: relative;
    z-index: 0;
    opacity: 0.4;
    border-bottom:$gold solid 2px;
    color: $gold;
}
.overlayVid {
    position: absolute;
    top: 20%;
    left: 20%;
    z-index: 1;
    text-align: center;
    font-size: 6rem;
    color: $gold;
    text-shadow: 6px -6px 3px black;
    line-height: 6rem;
    width: 60%;
}

@media (max-width: 900px) {
    .overlayVid {
        font-size: 3rem;
        line-height: 3rem;
        text-shadow: 3px -3px 1.5px black;
    }
}

@media (max-width: 550px) {
    .overlayVid {
        font-size: 2rem;
        line-height: 2rem;
        text-shadow: 2px -2px 1px black;
    }
}

