@import '/src/index.scss';

.invitations {
    border-left: 2px solid $gold;
    font-size: 14px;
}

.invitations:hover {
    background-color: transparent;
}
.btnAccept {
    height: 32px;
    width: 32px;
    line-height: 32px;
    border-radius: 50%;
    border: 2px solid $gold;
    color: $gold;
    font-size: 16px;
    margin-right: 1rem;
    transition: 0.5s ease-in-out 0s;
}

.btnAccept:hover {
    background-color: rgba(200, 170, 110, 0.3);
    color: $gold;
    cursor: pointer;
}

.btnRefuse {
    height: 32px;
    width: 32px;
    line-height: 32px;
    border-radius: 50%;
    border: 2px solid $gold;
    color: $gold;
    font-size: 16px;
    margin-right: 1rem;
    transition: 0.5s ease-in-out 0s;
}

.btnRefuse:hover {
    background-color: rgba(200, 170, 110, 0.3);
    color: $gold;
    cursor: pointer;
}