@import '/src/index.scss';

.round {
    height: 60px;
    width: 60px;
    line-height: 18px;
    border-radius: 50%;
    border: 2px solid $gold;
    color: $gold;
    font-size: 24px;
    transition: .5s ease-in-out 0s;
    text-align: center;
    text-shadow: 2px -2px 2px black;
}


.round:hover {
    background-color: rgba(29, 181, 213, 0.8);
    color: $gold;
    cursor: pointer;
}