@import "/src/index.scss";

.dropdownSize {
    width: 18rem;
    display: flex !important;
    justify-content: flex-end !important;
}

@media (max-width: 800px) {
    .dropdownSize {
        display: block !important;
    }
}

.user {
    font-size: 0.9rem !important;
    width: fit-content;
    margin-right: 0px;
    position: relative;
}

.notif {
    position: absolute;
    top: 0;
    left: 0;
}

.navbarCss {
    background-color: $bg-blue;
    border-bottom: $gold solid 1px;
    // height: 13vh;
}

.nav-link {
    font-family: "Batangas";
    font-size: 1.3rem;
    color: $light-gold;
}

.nav-link:hover {
    color: #f0e6d2;
}

.nav-link:focus {
    color: #f0e6d2;
}

.dropdownMenu {
    background-color: $bg-blue;
    border: none;
}

#navbarDropdown:hover {
    color: $light-gold;
}

.dropdown-item {
    color: $light-gold;
    font-family: "Batangas";
}

.dropdown-item:hover {
    color: $light-gold;
    background-color: rgba(200, 170, 110, 0.3);
}

.navbar-toggler {
    padding: 0;
    margin-right: -12px;
    width: auto;
    height: auto;
    color: transparent;
}

.invit {
    color: $light-gold;
    padding: 0.25rem 1rem;
}

/* Burger menu */
.toggler {
    cursor: pointer;
    display: flex;
    align-items: center;
}
svg {
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.active svg {
    transform: rotate(90deg);
}
path {
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
path:nth-child(1) {
    transform-origin: 36% 40%;
}
path:nth-child(2) {
    stroke-dasharray: 29 299;
}
path:nth-child(3) {
    transform-origin: 35% 63%;
}
path:nth-child(4) {
    stroke-dasharray: 29 299;
}
path:nth-child(5) {
    transform-origin: 61% 52%;
}
path:nth-child(6) {
    transform-origin: 62% 52%;
}
.active path:nth-child(1) {
    transform: translateX(9px) translateY(1px) rotate(45deg);
}
.active path:nth-child(2) {
    stroke-dasharray: 225 299;
    stroke-dashoffset: -72px;
}
.active path:nth-child(3) {
    transform: translateX(9px) translateY(1px) rotate(-45deg);
}
.active path:nth-child(4) {
    stroke-dasharray: 225 299;
    stroke-dashoffset: -72px;
}
.active path:nth-child(5) {
    transform: translateX(9px) translateY(1px) rotate(-45deg);
}
.active path:nth-child(6) {
    transform: translateX(9px) translateY(1px) rotate(45deg);
}
