@import '/src/index.scss';

.addInput:active,
.addInput:focus {
    border: 1px solid;
    box-shadow:  0px 0px 8px rgba(200, 170, 110, 0.5);
}

.teamName {
    color:$light-gold;
}

.feedback {
    color: $gold
}

.line {
    border-top: rgba(200, 170, 110, 0.5) solid 3px;
    width: 100%;
    margin-bottom: .5rem;
    margin-left: 20px;
}

.addPlayer {
    border: 2px solid $gold;
    border-radius: 5px;
    filter: opacity(0.5);
}

.imgPlayer {
    border: 2px solid $gold;
    border-radius: 5px;
    transition: .5s ease-in-out 0s;
    filter: opacity(0.5);

}

.imgPlayer:hover {
    border: 2px solid $gold;
    border-radius: 5px;
    transform: scale(1.1);
    filter: opacity(1);

}

.username {
    text-align: center;
    color: $gold;
    font-size: 0.9rem;
}
.btnAdd {
    height: 64px;
    width: 64px;
    line-height: 64px;
    border-radius: 50%;
    border: 3px solid $gold;
    color: $gold;
    font-size: 32px;
    transition: .5s ease-in-out 0s;
}

.btnAdd:hover {
    background-color: rgba(200, 170, 110, 0.3);
    color: $gold;
    cursor: pointer;
    transform: scale(1.25);
}

.dropdownStyle {
    border: 2px solid $gold;
    border-radius: 5px;
    color: $light-gold;
    font-size: 20px;
    transition: .5s ease-in-out 0s;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdownStyle:hover,
.activeDd {
    background-color: rgba(200, 170, 110, 0.3);
}

.dropdownItem,
.noTournament {
    border-radius: 5px;
    background-color: rgba(200, 170, 110, 0.1);
    color: $light-gold;
    font-size: 20px;
    transition: .5s ease-in-out 0s;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdownItem:hover {
    background-color: rgba(200, 170, 110, 0.3);
}

@keyframes inAnimation {
    
    0% {
    opacity: 0;
    visibility: hidden;
    }
    100% {
    opacity: 1;
    visibility: visible;
    }
}

@keyframes outAnimation {
    0% {
    opacity: 1;
    }
    100% {
    opacity: 0;
    visibility: hidden;
    }
}

.dd {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}