@import '/src/index.scss';

.oneTeam {
    border-radius: 5px;
    background-color: rgba(200, 170, 110, 0.1);
    color: $light-gold;
    font-size: 20px;
    transition: .5s ease-in-out 0s;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.oneTeam:hover {
    background-color: rgba(200, 170, 110, 0.3);
}

.vl {
    border-right: 3px solid $light-gold;
    height: 20px;
    width: 20px;
}

.space {
    width: 20px;

}

.sideDiv {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.thumbnail {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    object-fit: contain;
}

.points{
    width: 50px;
    text-align: end;
    margin-right: 5px;
}