@import '/src/index.scss';

.overlay {
    height: 50%;
    background-color: rgba($color: $bg-blue, $alpha: 0.8);
    color: $gold;
}

.card:hover {
    .overlay {
        background-color: rgba(200, 170, 110, 0.3);
        color: $nav-hover;
    }
}
.card-img-overlay {
    top:auto
}

.card {
    transition: .5s ease-in-out 0s;
    margin: 20px;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.1);

}


@media (max-width: 1200px) {
    .overlay {
        font-size: 0.8rem!important;
        line-height: 0.4rem
    }
}

@media (max-width: 750px) {
    .overlay {
        font-size: 1rem!important;
        line-height: 1rem
    }
}

@media (max-width: 575px) {
    .overlay {
        font-size: 1.5rem!important;
        line-height: 1.5rem
    }
}

@media (max-width: 380px) {
    .overlay {
        font-size: 1rem!important;
        line-height: 1rem
    }
}
// .card-title:hover {
//     color:$nav-hover!important;
// }

// .bg-dark {
//     background-color: $bg-blue!important;
//     border: $gold solid 2px;
// }