$bg-blue: #010a13;
$gold: #c8aa6e;
$light-gold: #c8bb8f;
$nav-hover: #f0e6d2;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Batangas'!important;
  background-color: $bg-blue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus{
  -webkit-text-fill-color: $gold;
}

// html {
//   font-size: 100%;
// }